In [ ]:
values are 'hello', -87.8,6
expressions are * ,- ,/,+

In [ ]:
variable is name refered to store data.
string are data representing text.

In [ ]:
1. string - data stored will be textform.(eg:"this is my first assignment")
2. int - data is wholenumbers(eg:23,6789)
3.float- decimal numbers(eg: 23.45)
4. list- collection of data [](eg:[2,3,4,5])
5. tuple- collection of data()(eg:(4,5,6,7))
6.dict- collection of data{}(eg:{"k1" : "lav","k2" : "ineuron" })

In [1]:
bacon = 22
bacon + 1

23

In [2]:
'spam' +'spamspam'

'spamspamspam'

In [3]:
'spam'*3

'spamspamspam'

In [ ]:
eggs is a variable name because in python name of variable always start with alphabet letter,
100 is invalid name as variable cannot start with a number.

In [5]:
a=100.30
print(int(a))

ValueError: invalid literal for int() with base 10: 'A'

In [ ]:

to get integer we use int()
to get floating pointnumber we use float()
to get string we use str()

In [6]:
'I have eaten' + 99 + 'burritos'

TypeError: can only concatenate str (not "int") to str

In [ ]:
we get error as string cannot be clubed with integer

In [8]:
'I have eaten' + ' 99 ' + 'burritos'

'I have eaten 99 burritos'

In [ ]:
can fix it by taking 99 as a string form.